<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>化学小测试</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
        crossorigin="anonymous">
    <style>
        body, .btn {
            font-family: monospace;
        }
    </style>
</head>

<body class="">
    <div id="app" class="container-fluid" style="min-height: 700px;">
        <div v-if="start_screen">
            <h1 class="row align-items-start justify-content-center" style="min-height: 200px; padding-top: 100px;">
                {{ start_screen_data.text}}</h1>
            <h2 class="row align-items-center justify-content-center" style="min-height: 100px;"><span
                    class="badge badge-primary">{{ start_screen_data.description }}</span></h2>
            <div v-for="btn in start_screen_data.btns" class="row align-items-end justify-content-center" style="margin-bottom: 30px;">
                <button v-on:click="startQuiz(btn.mode)"
                    class="btn btn-outline-primary btn-lg">{{ btn.title}}</button>
            </div>
        </div>
        <div v-if="question">
            <h2 class="row align-items-start justify-content-center" style="min-height: 200px; padding-top: 100px;">
                {{ question.title }}</h2>
            <div class="row align-items-start justify-content-center">
                <ul class="list-unstyled">
                    <li v-for="option in question.options" style="margin-top: 20px;">
                        <button v-on:click="answerQuestion(option)" v-bind:class="{ active: option == answer, disabled: question_result && option != answer }"
                            class="btn btn-outline-primary btn-lg">{{ option }}</button>
                    </li>
                </ul>
            </div>
            <p class="row align-items-center justify-content-center">{{ question_result }}</span>
            <div class="row align-items-end justify-content-center" style="min-height: 100px;">
                <button v-if="next_question" v-on:click="nextQuestion" class="btn btn-outline-primary btn-lg">{{ next_question }}</button>
                <button v-if="check_result" v-on:click="checkResult" class="btn btn-outline-primary btn-lg">{{ check_result }}</button>
            </div>
        </div>
        <div v-if="results" class="jumbotron-fluid text-center">
            <h2 class="display-3" style="min-height: 200px; padding-top: 100px;">答对{{ results.right_answers }}题</h2>
            <h3 class="display-4">（共{{ results.total }}题）</h3>
            <h3 class="display-4"><span class="badge badge-primary">耗时：{{ results.time }}秒</span></h3>
            <p>{{ results.title }}</p>
            <button v-on:click="reset"  class="btn btn-outline-danger" style="margin-top: 200px;">{{ btn_reset }}</button>
        </div>
    </div>
    <footer class="text-center">&copy; 2020 alanzoe.com</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/app.js?ver=0.0.1"></script>

</html>
